@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.btn.btn-secondary.btn-lg.p-3{
    margin-left: 350px;
}

.d-flex.justify-content-between.d-none.d-lg-block{
    margin-left: 100px;
    padding-top: 50px;
}

.card {
    width: fit-content;
    height: fit-content;
    padding-bottom: px;
    position: relative;
}

.card-content {
    position: absolute;
    top: 0px;
    left: auto;
    right: auto;
    bottom: 10px;
}

.card.bg-dark.text-light {
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-height: 1000px;
    justify-content: space-evenly;
    justify-content: space-between;
    
}

.card-body.text-center {
    max-width: 89.5;
}

.p.card-text {
    justify-content: space-between;
}
